
.main-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-template-rows: repeat(auto-fill, 400px);
    height: 100vh;
    grid-auto-columns: 250px;
    grid-auto-rows: 400px;
    justify-content: center;
    padding: 100px;
    gap: 40px;


}

.book-card {
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 10px;
    justify-content: center;
    align-items: center;


}

.pop-up-form {
    display: flex;
    flex-direction: column;
    border: solid black 2px;
    padding: 20px;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    height: 35%;
    width: 10%;
    background-color: #F1F6F5;
    z-index: 10;
    transition: 200ms ease-in-out;


}

label {
    display: flex;
    gap: 10px;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    transition: 200ms ease-in-out;
    pointer-events: none;

}

#overlay.active {
    opacity: 1;
    pointer-events: all;

}

.pop-up-form.active {
    transform: translate(-50%, -50%) scale(1);
}