body {
    margin: 0;
    padding: 0;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-template-rows: repeat(auto-fill, 400px);
    height: 100vh;
    grid-auto-columns: 250px;
    grid-auto-rows: 400px;
    justify-content: center;
    padding: 100px;
    gap: 40px;
    background-color: #F1F6F5;


}

.book-card {
    border: none;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    background-color: gainsboro;
    border-radius: 25px;
    height: 200px;
    width: 150px;


}

.button-group {
    display: flex;
    width: 100%;
    gap: 10px;
    flex-direction: column;



}

.book-card button {
    width: 100%;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;

    border: none;
}

.pop-up-form {
    display: flex;
    flex-direction: column;
    border: solid black 2px;
    padding: 30px;
    gap: 20px;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    height: 300px;
    width: 246px;
    background-color: #F1F6F5;
    z-index: 10;
    transition: 200ms ease-in-out;
    border-radius: 25px;


}


#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    transition: 200ms ease-in-out;
    pointer-events: none;

}

#overlay.active {
    opacity: 1;
    pointer-events: all;

}

.pop-up-form.active {
    transform: translate(-50%, -50%) scale(1);
}


.form-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    gap: 20px;


}

.formReadDiv {
    display: flex;
    gap: 20px;
}

.formTitleDiv, .formPagesDiv, .formAuthorDiv, .formSubmitDiv {
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: center;


}


input[type='text'], input[type='number'], input[type='submit'] {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border: none;
}


.formSubmitDiv {
    height: 30%;
}


input[type=submit] {
    /*fixes submit sizing issue on safari*/
    -webkit-appearance: none;

    background-color: #4CAF50;

    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}



.notRead{
    background-color: red;;
}

.read{
    background-color: green;
}