
.main-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-template-rows: repeat(auto-fill, 400px);
    height: 100%;
    grid-auto-columns: 250px;
    grid-auto-rows: 400px;
    justify-content: center;
    padding: 100px;
    gap: 40px;

}

.book-card {
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 10px;
    justify-content: center;
    align-items: center;


}

.pop-up-form {
    display: flex;
    flex-direction: column;
    border: solid black 2px;
    padding: 20px;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 35%;
    width: 10%;

}

label {
    display: flex;
    gap: 10px;
}